.about__background {
    background: #e04b89;
    opacity: 5;
    z-index: 1;
    top: 0;
    color: #fff;
    font-weight: 200;
    padding: 60px;
    margin-bottom: 3vh;
}

.about__background h1 {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;

}

.success-btn {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

@media (min-width: 200px) and (max-width: 500px) {
    .about__background {
        padding: 30px;
    }

    .about__background h1 {
        font-size: 33px;
    }

    .about__desc p {
        font-size: 15px;
    }
}